.message-item {
  width: 100%;
  font-size: 14px;
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: calc(var(--spacing) * 2);
  padding-block: calc(var(--spacing) * 2);
  padding-inline: calc(var(--spacing) * 3);

  &:hover{
    background: var(--surface-hover);
    transform: translateY(calc(var(--spacing) * -1));
  }
}
