.menu {
  padding-block: calc(var(--spacing) * 4);
  padding-inline: calc(var(--spacing) * 5);
  background: var(--surface);
  height: 100svh;
  border-radius: calc(var(--spacing) * 5);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);

  .menu-item {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    width: 100%;
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 1);
    border-radius: calc(var(--spacing) * 2);

    &.active {
      background: #7c3aed4d;
      color: var(--primary);
    }
    &:not(.active):hover{
        background: var(--surface-hover);
    }
  }
}


.show {
  animation: show 0.5s;
}
.hide {
  animation: hide 0.5s;
}
.slideLeft {
  animation: slideLeft 0.5s;
}
.slideRight {
  animation: slideRight 0.5s;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes show {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}
@keyframes hide {
  from {
    display: block;
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}
